/* src/components/About.scss */

@import '../styles/variables';

.about {
  padding: 4rem 2rem;
  background-color: #f9f9f9;

  .container {
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      color: $secondary-color;
    }

    p {
      max-width: 800px;
      margin: 0 auto 3rem;
      font-size: 1.125rem;
      line-height: 1.6;
      color: $light-text-color;
      text-align: center;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .info-item {
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        flex: 1 1 calc(33% - 2rem);
        max-width: calc(33% - 2rem);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        @media (max-width: 768px) {
          flex: 1 1 calc(50% - 2rem);
          max-width: calc(50% - 2rem);
        }

        @media (max-width: 480px) {
          flex: 1 1 100%;
          max-width: 100%;
        }

        .info-icon {
          font-size: 2rem;
          color: $primary-color;
          margin-bottom: 1rem;
        }

        h3 {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          color: $secondary-color;
        }

        p, ul {
          font-size: 1rem;
          color: $light-text-color;
          margin: 0;
          line-height: 1.5;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
